# Content List: 

## 1. Importing the required libraries:
   - pandas, numpy, os, matplotlib.pyplot, seaborn, scipy: Essential libraries for data manipulation, visualization, and statistical analysis.

## 2. Reading the CSV file and storing it in the 'data' variable:
   - The file path is specified, and the CSV file is read using the `pd.read_csv()` function.
   - The first few rows of the DataFrame are printed using `data.head()`.
   - Information about the dataset, including column names and data types, is displayed using `data.info()`.
   - Descriptive statistics of the dataset are calculated and printed using `data.describe()`.

## 3. Data Cleaning:
   - Records where 'DrvrAge' or 'BikeAge' is '70+' or '999' are identified and counted using conditional statements.
   - Rows with '70+' values in 'DrvrAge' or 'BikeAge' are dropped using the `drop()` function.
   - The 'DrvrAge' and 'BikeAge' columns are converted to numeric data types using `pd.to_numeric()`.
   - Descriptive statistics are recalculated and printed to verify the changes.

## 4. Imputation:
   - Average values for 'DrvrAge' and 'BikeAge' are calculated using the `mean()` function.
   - Flag columns ('DrvrAgeImputedFlag' and 'BikeAgeImputedFlag') are created to indicate imputed age values.
   - Imputation is performed by replacing '999' values with the corresponding average values using conditional assignments.

## 5. Saving the Updated Dataset:
   - The cleaned and imputed dataset is saved back to the original CSV file using `data.to_csv()` with the `index=False` parameter to exclude the index column.

## 1. Importing the required libraries:

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## 2. Reading the CSV file and storing it in the 'data' variable.

In [5]:
file_path = r'C:\Users\Ankit\OneDrive\Documents\CareerFoundry\Achievement 6\Data\NCDOT_BikePedCrash.csv'  # Corrected file path

In [6]:
data = pd.read_csv(file_path)

## 3. Data Cleaning:

In [8]:
data.head()

,AmbulanceR,BikeAge,BikeAlcFlg,BikeDir,BikeInjury,BikeSex,City,County,CrashAlcoh,CrashDay,...,DrvrSex,DrvrVehTyp,HitRun,Latitude,Longitude,RdConditio,SpeedLimit,TraffCntrl,Weather,Workzone
0,Yes,11,No,With Traffic,B: Suspected Minor Injury,Male,Durham,Durham,No,Tuesday,...,Male,Passenger Car,No,36.039490,-78.883896,Dry,30 - 35 MPH,No Control Present,Clear,No
1,Yes,20,No,Facing Traffic,C: Possible Injury,Male,Cary,Wake,No,Friday,...,Male,Passenger Car,No,35.751118,-78.782800,Dry,30 - 35 MPH,Stop And Go Signal,Clear,No
2,Yes,37,No,Unknown,B: Suspected Minor Injury,Male,Stallings,Union,No,Monday,...,Female,Passenger Car,No,35.084732,-80.697820,Dry,20 - 25 MPH,No Control Present,Cloudy,No
3,Yes,30,No,With Traffic,C: Possible Injury,Male,Salisbury,Rowan,No,Friday,...,Unknown,Sport Utility,Yes,35.684400,-80.479320,Dry,30 - 35 MPH,No Control Present,Cloudy,No
4,Yes,45,No,With Traffic,B: Suspected Minor Injury,Male,Fayetteville,Cumberland,No,Friday,...,Female,Van,No,34.999428,-78.904450,Dry,30 - 35 MPH,"Double Yellow Line, No Passing Zone",Clear,No

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11266 entries, 0 to 11265
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AmbulanceR  11266 non-null  object
 1   BikeAge     11266 non-null  object
 2   BikeAlcFlg  11266 non-null  object
 3   BikeDir     11266 non-null  object
 4   BikeInjury  11266 non-null  object
 5   BikeSex     11266 non-null  object
 6   City        11266 non-null  object
 7   County      11266 non-null  object
 8   CrashAlcoh  11266 non-null  object
 9   CrashDay    11266 non-null  object
 10  CrashGrp    11266 non-null  object
 11  CrashHour   11266 non-null  int64
 12  CrashMonth  11266 non-null  object
 13  CrashType   11266 non-null  object
 14  CrashYear   11266 non-null  int64
 15  DrvrAge     11266 non-null  object
 16  DrvrAlcFlg  11266 non-null  object
 17  DrvrInjury  11266 non-null  object
 18  DrvrSex     11266 non-null  object
 19  DrvrVehTyp  11266 non-null  object
 20  HitRun      11266 non-null  object
 21  Latitude    11266 non-null  float64
 22  Longitude   11266 non-null  float64
 23  RdConditio  11266 non-null  object
 24  SpeedLimit  11266 non-null  object
 25  TraffCntrl  11266 non-null  object
 26  Weather     11266 non-null  object
 27  Workzone    11266 non-null  object
dtypes: float64(2), int64(2), object(24)
memory usage: 2.4+ MB

In [11]:
data.describe()

          CrashHour     CrashYear      Latitude     Longitude
count  11266.000000  11266.000000  11266.000000  11266.000000
mean      14.556453   2012.471773     35.465204    -79.278346
std        4.789586      3.479105      0.571970      1.543942
min        0.000000   2007.000000     33.869962    -84.152986
25%       12.000000   2009.000000     35.170768    -80.698508
50%       15.000000   2012.000000     35.590407    -78.955249
75%       18.000000   2016.000000     35.915642    -78.041942
max       23.000000   2018.000000     36.555054    -75.463524

In [13]:
total_records = len(data[(data['DrvrAge'].isin(['999', '70+'])) | (data['BikeAge'].isin(['999', '70+']))])

# Print the total number of records
print("Total records with DrvrAge = '999' or '70+', or BikeAge = '999' or '70+':", total_records)

Total records with DrvrAge = '999' or '70+', or BikeAge = '999' or '70+': 1933

In [15]:
# Count records where DrvrAge is '70+' or BikeAge is '70+'
total_records = len(data[(data['DrvrAge'] == '70+') | (data['BikeAge'] == '70+')])

# Print the total number of records
print("Total records with DrvrAge = '70+' or BikeAge = '70+':", total_records)

Total records with DrvrAge = '70+' or BikeAge = '70+': 222

In [16]:
# Remove rows with '70+' values in DrvrAge or BikeAge
data.drop(data[data['DrvrAge'] == '70+'].index, inplace=True)
data.drop(data[data['BikeAge'] == '70+'].index, inplace=True)

In [18]:
data.describe()

          CrashHour     CrashYear      Latitude     Longitude
count  11044.000000  11044.000000  11044.000000  11044.000000
mean      14.576874   2012.562206     35.463431    -79.276781
std        4.794838      3.452374      0.572896      1.538607
min        0.000000   2007.000000     33.869962    -84.152986
25%       12.000000   2010.000000     35.168739    -80.696757
50%       15.000000   2013.000000     35.590104    -78.954483
75%       18.000000   2016.000000     35.914741    -78.050247
max       23.000000   2018.000000     36.555054    -75.463524

In [1]:
# Convert 'DrvrAge' column to numeric
data['DrvrAge'] = pd.to_numeric(data['DrvrAge'], errors='coerce')

# Convert 'BikeAge' column to numeric
data['BikeAge'] = pd.to_numeric(data['BikeAge'], errors='coerce')

NameError: name 'pd' is not defined

In [20]:
data.describe()

,BikeAge,CrashHour,CrashYear,DrvrAge,Latitude,Longitude
count,11044.000000,11044.000000,11044.000000,11044.000000,11044.000000,11044.000000
mean,49.416154,14.576874,2012.562206,175.392702,35.463431,-79.276781
std,127.861715,4.794838,3.452374,331.814605,0.572896,1.538607
min,0.000000,0.000000,2007.000000,9.000000,33.869962,-84.152986
25%,18.000000,12.000000,2010.000000,29.000000,35.168739,-80.696757
50%,29.000000,15.000000,2013.000000,45.000000,35.590104,-78.954483
75%,49.000000,18.000000,2016.000000,64.000000,35.914741,-78.050247
max,999.000000,23.000000,2018.000000,999.000000,36.555054,-75.463524

## 4. Imputation:

In [21]:
 # Calculate average values for 'DrvrAge' and 'BikeAge'
drvr_age_avg = data.loc[data['DrvrAge'] != 999, 'DrvrAge'].mean()
bike_age_avg = data.loc[data['BikeAge'] != 999, 'BikeAge'].mean()

# Create flag columns to indicate imputed age values
data['DrvrAgeImputedFlag'] = np.where(data['DrvrAge'] == 999, 1, 0)
data['BikeAgeImputedFlag'] = np.where(data['BikeAge'] == 999, 1, 0)

# Impute average values for 'DrvrAge' and 'BikeAge' where the value is '999'
data.loc[data['DrvrAge'] == 999, 'DrvrAge'] = drvr_age_avg
data.loc[data['BikeAge'] == 999, 'BikeAge'] = bike_age_avg

In [22]:
data.describe()

,BikeAge,CrashHour,CrashYear,DrvrAge,Latitude,Longitude,DrvrAgeImputedFlag,BikeAgeImputedFlag
count,11044.000000,11044.000000,11044.000000,11044.000000,11044.000000,11044.000000,11044.000000,11044.000000
mean,32.526495,14.576874,2012.562206,42.038506,35.463431,-79.276781,0.139352,0.017476
std,17.578942,4.794838,3.452374,16.108923,0.572896,1.538607,0.346329,0.131041
min,0.000000,0.000000,2007.000000,9.000000,33.869962,-84.152986,0.000000,0.000000
25%,18.000000,12.000000,2010.000000,29.000000,35.168739,-80.696757,0.000000,0.000000
50%,29.000000,15.000000,2013.000000,42.038506,35.590104,-78.954483,0.000000,0.000000
75%,48.000000,18.000000,2016.000000,52.000000,35.914741,-78.050247,0.000000,0.000000
max,93.000000,23.000000,2018.000000,99.000000,36.555054,-75.463524,1.000000,1.000000

In [24]:
data.head()

,AmbulanceR,BikeAge,BikeAlcFlg,BikeDir,BikeInjury,BikeSex,City,County,CrashAlcoh,CrashDay,...,HitRun,Latitude,Longitude,RdConditio,SpeedLimit,TraffCntrl,Weather,Workzone,DrvrAgeImputedFlag,BikeAgeImputedFlag
0,Yes,11.0,No,With Traffic,B: Suspected Minor Injury,Male,Durham,Durham,No,Tuesday,...,No,36.039490,-78.883896,Dry,30 - 35 MPH,No Control Present,Clear,No,0,0
1,Yes,20.0,No,Facing Traffic,C: Possible Injury,Male,Cary,Wake,No,Friday,...,No,35.751118,-78.782800,Dry,30 - 35 MPH,Stop And Go Signal,Clear,No,0,0
2,Yes,37.0,No,Unknown,B: Suspected Minor Injury,Male,Stallings,Union,No,Monday,...,No,35.084732,-80.697820,Dry,20 - 25 MPH,No Control Present,Cloudy,No,0,0
3,Yes,30.0,No,With Traffic,C: Possible Injury,Male,Salisbury,Rowan,No,Friday,...,Yes,35.684400,-80.479320,Dry,30 - 35 MPH,No Control Present,Cloudy,No,1,0
4,Yes,45.0,No,With Traffic,B: Suspected Minor Injury,Male,Fayetteville,Cumberland,No,Friday,...,No,34.999428,-78.904450,Dry,30 - 35 MPH,"Double Yellow Line, No Passing Zone",Clear,No,0,0

In [26]:
data.shape

(11044, 30)

## 5. Saving the Updated Dataset:

In [27]:
data.to_csv(file_path, index=False)